# =========================
# Dart / Flutter
# =========================
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# =========================
# Environment / Secrets
# =========================
.env
.env.local
*.keystore
*.jks
key.properties

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.iml

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# =========================
# iOS / macOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace
ios/Runner/GeneratedPluginRegistrant.*

macos/Pods/
macos/Flutter/ephemeral/

# =========================
# Web
# =========================
web/.dart_tool/
web/build/

# =========================
# Windows / Linux
# =========================
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# =========================
# Logs / Temp
# =========================
*.log
.DS_Store
Thumbs.db
